[submodule "Mods/Betmma-mods"]
	path = Mods/Betmma-mods
	url = https://github.com/ChromaPIE/betmma-mods-ZHCN-Locale.git
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/ChromaPIE/Steamodded.git
