[submodule "Mods/Betmma-mods"]
	path = Mods/Betmma-mods
	url = https://github.com/ChromaPIE/betmma-mods-ZHCN-Locale.git
[submodule "Mods/Codex-Arcanum"]
	path = Mods/Codex-Arcanum
	url = https://github.com/ChromaPIE/Codex-Arcanum-ZHCN-Locale.git
[submodule "Mods/DX-Tarots"]
	path = Mods/DX-Tarots
	url = https://github.com/ChromaPIE/DX-Tarots-ZHCN-Locale.git
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/ChromaPIE/Bunco-ZHCN-Locale.git
[submodule "Mods/MikasBalatro"]
	path = Mods/MikasBalatro
	url = https://github.com/ChromaPIE/MikasBalatro-ZHCN-Locale.git
[submodule "Mods/aiz-balatro-mod"]
	path = Mods/aiz-balatro-mod
	url = https://github.com/ChromaPIE/aiz-balatro-mod-ZHCN-Locale.git
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/ChromaPIE/JankJonklers-ZHCN-Locale.git
